# Notre projet

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## 1-Lire le fichier CSV

In [2]:
data=pd.read_csv("TaxFraud.csv")

In [3]:
data.shape

(21295, 121)

In [4]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,C,99,0,3707,4,2,2,2,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id17437
1,401,14383,M,22,0,6105,4,2,2,2,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id5086
2,243,11555,M,23,0,5751,4,2,2,2,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,train_id1443
3,72,6175,C,99,0,4402,4,2,2,2,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id15469
4,42,1417,M,23,0,6302,4,2,2,2,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,M,22,0,4203,4,2,2,2,...,16.544842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id7173
21291,113,15006,M,21,0,5703,4,2,2,3,...,17.651115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id12850
21292,700,2429,M,22,0,4218,4,2,2,2,...,18.018778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id4062
21293,248,1323,M,22,0,3201,4,2,2,2,...,15.521108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id4052
21294,55,2672,P,99,0,6412,8,2,2,2,...,12.460719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id8245

## 2-Suppression de la partie String de l'ID

In [5]:
for i in range(21295):
    id=data["id"].values[i]
    int_id=id[8:]
    data["id"].values[i]=int_id

In [6]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,C,99,0,3707,4,2,2,2,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437
1,401,14383,M,22,0,6105,4,2,2,2,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5086
2,243,11555,M,23,0,5751,4,2,2,2,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,1443
3,72,6175,C,99,0,4402,4,2,2,2,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15469
4,42,1417,M,23,0,6302,4,2,2,2,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,M,22,0,4203,4,2,2,2,...,16.544842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7173
21291,113,15006,M,21,0,5703,4,2,2,3,...,17.651115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12850
21292,700,2429,M,22,0,4218,4,2,2,2,...,18.018778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4062
21293,248,1323,M,22,0,3201,4,2,2,2,...,15.521108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4052
21294,55,2672,P,99,0,6412,8,2,2,2,...,12.460719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245

In [7]:
data.head()

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,C,99,0,3707,4,2,2,2,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437
1,401,14383,M,22,0,6105,4,2,2,2,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5086
2,243,11555,M,23,0,5751,4,2,2,2,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,1443
3,72,6175,C,99,0,4402,4,2,2,2,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15469
4,42,1417,M,23,0,6302,4,2,2,2,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14368

## 3-Remplacer les données  de colonne de type object par des données de type int

In [8]:
data['CTR_CATEGO_X'].unique()

array(['C', 'M', 'P', 'N'], dtype=object)

In [9]:
data.CTR_CATEGO_X.replace({'C':1, 'M':2, 'P':3, 'N':4},inplace=True)

## 4- tester dans chaque  colonne si la somme de la valeur 2 de ses lignes est superieure a   90% de nombre des données il supprime cette colonne

In [10]:
g=0
for i in data.columns:
    for j in range(len(data)):
        if(data[i][j] ==2):
            g=g+1
    if g>0.9*len(data[i]):
        data.drop(i,axis=1,inplace=True)
    print(f'{i}:{g}')
    g=0

BCT_CODBUR:0
CTR_MATFIS:2
CTR_CATEGO_X:10889
FJU_CODFJU:0
CTR_CESSAT:63
ACT_CODACT:0
CTR_OBLDIR:2
CTR_OBLACP:20440
CTR_OBLRES:20800
CTR_OBLFOP:19732
CTR_OBLTFP:20191
CTR_OBLDCO:111
CTR_OBLTVA:20452
CTR_OFODEC:1944
CTR_OFODEP:73
CTR_OFODET:378
CTR_OBLAUT:428
CTR_OBLASS:1
CTR_ODTIMB:10051
CTR_OBLTCL:2
CTR_OBLTHO:283
CTR_OBLDLI:806
CTR_OBLTVI:45
CTR_RATISS:233
EXE_EXERCI:0
TVA_CHAFF6:0
TVA_CHAFF7:0
TVA_CHAF10:0
TVA_CHAF12:2
TVA_CAF125:0
TVA_CHAF15:1
TVA_CHAF18:0
TVA_CHAF22:0
TVA_CHAF29:0
TVA_CHAF36:0
TVA_TOTDUE:0
TVA_MOIDEB:125
TVA_CRDINI:2
TVA_BASIMB:1
TVA_DEDIMB:0
TVA_BASEQL:0
TVA_DEDEQL:0
TVA_BASEQI:0
TVA_DEDEQI:0
TVA_BASAUL:0
TVA_DEDAUL:0
TVA_BASAUI:0
TVA_DEDAUI:0
TVA_BASRSM:0
TVA_DEDRSM:1
TVA_RSNRES:0
TVA_TRSPOR:0
TVA_DEDREG:1
TVA_RESTIT:2
TVA_MNTPAY:1
TVA_MOIFIN:29
TVA_CRDFIN:3
TVA_ACHSUS:0
TVA_ACHEXO:0
TVA_ACHNDD:0
TVA_CAFEXP:0
TVA_CAFSUS:0
TVA_CAFEXO:1
TVA_AACHAB:0
TVA_CRDBLQ:0
TVA_CRDRES:0
TVA_CRDRMP:0
TVA_CRDREP:0
TVA_CRDRMC:0
TVA_MACHN:0
TVA_MCESQ:0
TVA_MTVLSM:0
TVA_TXVLSM:0
TVA_MTALSM:0
TVA_TXALSM:0
TVA_MTORDTVA:0
TVA_MTDJRTVA:0
TVA_MTORDTAX:0
TVA_MTDJRTAX:0
TVA_MTRESTAX:0
TVA_CA072018:0
TVA_CA132018:0
TVA_CA192018:0
ADB_MNTORD:0
SND_MNTPRD_I:0
SND_MNTTVA_I:0
SND_MNTDRC_I:0
SND_MNTAVA_I:0
SND_MNTTAX_I:0
SND_MNTPAY_I:0
SND_MNTAIR_I:0
SND_MNTPRD_E:0
SND_MNTTVA_E:0
SND_MNTDRC_E:0
SND_MNTAVA_E:0
SND_MNTTAX_E:0
SND_MNTPAY_E:0
SND_MNTAIR_E:0
SND_MNTPRD_A:0
SND_MNTTVA_A:0
SND_MNTDRC_A:0
SND_MNTAVA_A:0
SND_MNTTAX_A:0
SND_MNTPAY_A:0
SND_MNTAIR_A:0
AX1_BRTIMP:0
AX2_HONORA:0
AX2_LOYERS:0
AX3_REVCAP:0
AX5_MNTMAR:0
RES_ANNIMP:0
target:0
FAC_MNTPRI_F:0
FAC_MFODEC_F:0
FAC_MNTDCO_F:0
FAC_MNTTVA_F:0
FAC_MNTPRI_C:0
FAC_MFODEC_C:0
FAC_MNTDCO_C:0
FAC_MNTTVA_C:0
id:0

In [11]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLDCO,CTR_OFODEC,CTR_OFODEP,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,1,99,0,3707,4,1,1.0,1.0,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437
1,401,14383,2,22,0,6105,4,1,1.0,1.0,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5086
2,243,11555,2,23,0,5751,4,1,2.0,1.0,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,1443
3,72,6175,1,99,0,4402,4,1,1.0,1.0,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15469
4,42,1417,2,23,0,6302,4,1,1.0,1.0,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,0,4203,4,1,1.0,1.0,...,16.544842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7173
21291,113,15006,2,21,0,5703,4,1,1.0,1.0,...,17.651115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12850
21292,700,2429,2,22,0,4218,4,1,1.0,1.0,...,18.018778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4062
21293,248,1323,2,22,0,3201,4,1,1.0,1.0,...,15.521108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4052
21294,55,2672,3,99,0,6412,8,1,1.0,1.0,...,12.460719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245

## 5- tester dans chaque  colonne si la somme de la valeur 0 de ses lignes est superieure a   90% de nombre des données il supprime cette colonne

In [12]:
g=0
for i in data.columns:
    for j in range(len(data)):
        if(data[i][j] ==0):
            g=g+1
    if g>0.9*len(data[i]):
        data.drop(i,axis=1,inplace=True)
    print(f'{i}:{g}')
    g=0

BCT_CODBUR:0
CTR_MATFIS:0
CTR_CATEGO_X:0
FJU_CODFJU:0
CTR_CESSAT:20325
ACT_CODACT:0
CTR_OBLDIR:0
CTR_OBLDCO:0
CTR_OFODEC:0
CTR_OFODEP:0
CTR_OFODET:0
CTR_OBLAUT:0
CTR_OBLASS:0
CTR_ODTIMB:0
CTR_OBLTCL:0
CTR_OBLTHO:0
CTR_OBLDLI:0
CTR_OBLTVI:0
CTR_RATISS:21062
EXE_EXERCI:0
TVA_CHAFF6:15819
TVA_CHAFF7:19472
TVA_CHAF10:19591
TVA_CHAF12:14199
TVA_CAF125:19605
TVA_CHAF15:19411
TVA_CHAF18:9445
TVA_CHAF22:18471
TVA_CHAF29:19597
TVA_CHAF36:19605
TVA_TOTDUE:4288
TVA_MOIDEB:0
TVA_CRDINI:8561
TVA_BASIMB:19313
TVA_DEDIMB:19325
TVA_BASEQL:14365
TVA_DEDEQL:14365
TVA_BASEQI:17953
TVA_DEDEQI:17953
TVA_BASAUL:4812
TVA_DEDAUL:4812
TVA_BASAUI:16407
TVA_DEDAUI:16407
TVA_BASRSM:14754
TVA_DEDRSM:14756
TVA_RSNRES:19296
TVA_TRSPOR:19312
TVA_DEDREG:18895
TVA_RESTIT:18551
TVA_MNTPAY:10516
TVA_MOIFIN:0
TVA_CRDFIN:8189
TVA_ACHSUS:19551
TVA_ACHEXO:19209
TVA_ACHNDD:19551
TVA_CAFEXP:17387
TVA_CAFSUS:16785
TVA_CAFEXO:17203
TVA_AACHAB:19583
TVA_CRDBLQ:19513
TVA_CRDRES:19520
TVA_CRDRMP:19529
TVA_CRDREP:19605
TVA_CRDRMC:19499
TVA_MACHN:19054
TVA_MCESQ:18810
TVA_MTVLSM:19257
TVA_TXVLSM:19259
TVA_MTALSM:19308
TVA_TXALSM:19308
TVA_MTORDTVA:19583
TVA_MTDJRTVA:19447
TVA_MTORDTAX:19605
TVA_MTDJRTAX:19605
TVA_MTRESTAX:19605
TVA_CA072018:19487
TVA_CA132018:19563
TVA_CA192018:19442
ADB_MNTORD:0
SND_MNTPRD_I:0
SND_MNTTVA_I:275
SND_MNTDRC_I:2927
SND_MNTAVA_I:3699
SND_MNTTAX_I:0
SND_MNTPAY_I:0
SND_MNTAIR_I:2039
SND_MNTPRD_E:0
SND_MNTTVA_E:1231
SND_MNTDRC_E:1231
SND_MNTAVA_E:1231
SND_MNTTAX_E:1150
SND_MNTPAY_E:1150
SND_MNTAIR_E:1231
SND_MNTPRD_A:0
SND_MNTTVA_A:2641
SND_MNTDRC_A:2889
SND_MNTAVA_A:2899
SND_MNTTAX_A:91
SND_MNTPAY_A:91
SND_MNTAIR_A:2878
AX1_BRTIMP:15845
AX2_HONORA:10807
AX2_LOYERS:14871
AX3_REVCAP:11363
AX5_MNTMAR:6866
RES_ANNIMP:0
target:5402
FAC_MNTPRI_F:0
FAC_MFODEC_F:1483
FAC_MNTDCO_F:1809
FAC_MNTTVA_F:37
FAC_MNTPRI_C:0
FAC_MFODEC_C:1618
FAC_MNTDCO_C:2076
FAC_MNTTVA_C:44
id:0

In [13]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,ACT_CODACT,CTR_OBLDIR,CTR_OBLDCO,CTR_OFODEC,CTR_OFODEP,CTR_OFODET,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,1,99,3707,4,1,1.0,1.0,1.0,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437
1,401,14383,2,22,6105,4,1,1.0,1.0,1.0,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5086
2,243,11555,2,23,5751,4,1,2.0,1.0,1.0,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,1443
3,72,6175,1,99,4402,4,1,1.0,1.0,2.0,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15469
4,42,1417,2,23,6302,4,1,1.0,1.0,1.0,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,4203,4,1,1.0,1.0,1.0,...,16.544842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7173
21291,113,15006,2,21,5703,4,1,1.0,1.0,1.0,...,17.651115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12850
21292,700,2429,2,22,4218,4,1,1.0,1.0,1.0,...,18.018778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4062
21293,248,1323,2,22,3201,4,1,1.0,1.0,1.0,...,15.521108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4052
21294,55,2672,3,99,6412,8,1,1.0,1.0,1.0,...,12.460719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245

## 6- tester dans chaque  colonne si la somme de la valeur 1 de ses lignes est superieure a   90% de nombre des données il supprime cette colonne

In [14]:
g=0
for i in data.columns:
    for j in range(len(data)):
        if(data[i][j] ==1):
            g=g+1
    if g>0.9*len(data[i]):
        data.drop(i,axis=1,inplace=True)
    print(f'{i}:{g}')
    g=0

BCT_CODBUR:0
CTR_MATFIS:1
CTR_CATEGO_X:5794
FJU_CODFJU:0
ACT_CODACT:0
CTR_OBLDIR:8
CTR_OBLDCO:21184
CTR_OFODEC:19341
CTR_OFODEP:21212
CTR_OFODET:20907
CTR_OBLAUT:20857
CTR_OBLASS:21284
CTR_ODTIMB:11234
CTR_OBLTCL:181
CTR_OBLTHO:21002
CTR_OBLDLI:20479
CTR_OBLTVI:21240
EXE_EXERCI:0
TVA_CHAFF6:2
TVA_CHAF12:2
TVA_CHAF18:0
TVA_CHAF22:1
TVA_TOTDUE:0
TVA_MOIDEB:18858
TVA_CRDINI:2
TVA_BASEQL:0
TVA_DEDEQL:2
TVA_BASEQI:0
TVA_DEDEQI:0
TVA_BASAUL:0
TVA_DEDAUL:0
TVA_BASAUI:0
TVA_DEDAUI:2
TVA_BASRSM:1
TVA_DEDRSM:3
TVA_DEDREG:7
TVA_RESTIT:2
TVA_MNTPAY:0
TVA_MOIFIN:25
TVA_CRDFIN:22
TVA_CAFEXP:0
TVA_CAFSUS:0
TVA_CAFEXO:0
TVA_MACHN:0
TVA_MCESQ:0
ADB_MNTORD:0
SND_MNTPRD_I:0
SND_MNTTVA_I:0
SND_MNTDRC_I:0
SND_MNTAVA_I:0
SND_MNTTAX_I:0
SND_MNTPAY_I:0
SND_MNTAIR_I:0
SND_MNTPRD_E:0
SND_MNTTVA_E:0
SND_MNTDRC_E:0
SND_MNTAVA_E:0
SND_MNTTAX_E:0
SND_MNTPAY_E:0
SND_MNTAIR_E:0
SND_MNTPRD_A:0
SND_MNTTVA_A:0
SND_MNTDRC_A:0
SND_MNTAVA_A:0
SND_MNTTAX_A:0
SND_MNTPAY_A:0
SND_MNTAIR_A:0
AX1_BRTIMP:0
AX2_HONORA:0
AX2_LOYERS:0
AX3_REVCAP:0
AX5_MNTMAR:0
RES_ANNIMP:0
target:0
FAC_MNTPRI_F:0
FAC_MFODEC_F:0
FAC_MNTDCO_F:1
FAC_MNTTVA_F:0
FAC_MNTPRI_C:0
FAC_MFODEC_C:0
FAC_MNTDCO_C:0
FAC_MNTTVA_C:0
id:0

In [15]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,ACT_CODACT,CTR_OBLDIR,CTR_ODTIMB,CTR_OBLTCL,EXE_EXERCI,TVA_CHAFF6,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,1,99,3707,4,2.0,3,2014,0.0,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437
1,401,14383,2,22,6105,4,2.0,3,2013,0.0,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5086
2,243,11555,2,23,5751,4,2.0,3,2013,0.0,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,1443
3,72,6175,1,99,4402,4,1.0,3,2017,61381586.0,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15469
4,42,1417,2,23,6302,4,2.0,3,2014,0.0,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,4203,4,2.0,3,2014,0.0,...,16.544842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7173
21291,113,15006,2,21,5703,4,2.0,3,2016,0.0,...,17.651115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12850
21292,700,2429,2,22,4218,4,2.0,3,2013,0.0,...,18.018778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4062
21293,248,1323,2,22,3201,4,2.0,3,2014,0.0,...,15.521108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4052
21294,55,2672,3,99,6412,8,1.0,3,2017,7100000.0,...,12.460719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245

## 7- tester dans chaque  colonne si la somme de la valeur 3 de ses lignes est superieure a   90% de nombre des données il supprime cette colonne

In [16]:
g=0
for i in data.columns:
    for j in range(len(data)):
        if(data[i][j] ==3):
            g=g+1
    if g>0.9*len(data[i]):
        data.drop(i,axis=1,inplace=True)
    print(f'{i}:{g}')
    g=0

BCT_CODBUR:0
CTR_MATFIS:0
CTR_CATEGO_X:4604
FJU_CODFJU:0
ACT_CODACT:0
CTR_OBLDIR:0
CTR_ODTIMB:0
CTR_OBLTCL:21112
EXE_EXERCI:0
TVA_CHAFF6:4
TVA_CHAF12:8
TVA_CHAF18:3
TVA_CHAF22:4
TVA_TOTDUE:0
TVA_MOIDEB:81
TVA_CRDINI:1
TVA_BASEQL:0
TVA_DEDEQL:0
TVA_BASEQI:0
TVA_DEDEQI:0
TVA_BASAUL:0
TVA_DEDAUL:0
TVA_BASAUI:0
TVA_DEDAUI:0
TVA_BASRSM:4
TVA_DEDRSM:0
TVA_DEDREG:1
TVA_RESTIT:2
TVA_MNTPAY:0
TVA_MOIFIN:44
TVA_CRDFIN:2
TVA_CAFEXP:0
TVA_CAFSUS:0
TVA_CAFEXO:0
TVA_MACHN:0
TVA_MCESQ:1
ADB_MNTORD:0
SND_MNTPRD_I:0
SND_MNTTVA_I:0
SND_MNTDRC_I:0
SND_MNTAVA_I:0
SND_MNTTAX_I:0
SND_MNTPAY_I:0
SND_MNTAIR_I:0
SND_MNTPRD_E:0
SND_MNTTVA_E:0
SND_MNTDRC_E:0
SND_MNTAVA_E:0
SND_MNTTAX_E:0
SND_MNTPAY_E:0
SND_MNTAIR_E:0
SND_MNTPRD_A:0
SND_MNTTVA_A:0
SND_MNTDRC_A:0
SND_MNTAVA_A:0
SND_MNTTAX_A:0
SND_MNTPAY_A:0
SND_MNTAIR_A:0
AX1_BRTIMP:0
AX2_HONORA:0
AX2_LOYERS:0
AX3_REVCAP:0
AX5_MNTMAR:0
RES_ANNIMP:0
target:0
FAC_MNTPRI_F:0
FAC_MFODEC_F:0
FAC_MNTDCO_F:0
FAC_MNTTVA_F:0
FAC_MNTPRI_C:0
FAC_MFODEC_C:0
FAC_MNTDCO_C:0
FAC_MNTTVA_C:0
id:0

In [17]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,ACT_CODACT,CTR_OBLDIR,CTR_ODTIMB,EXE_EXERCI,TVA_CHAFF6,TVA_CHAF12,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,1,99,3707,4,2.0,2014,0.0,126423147.0,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437
1,401,14383,2,22,6105,4,2.0,2013,0.0,21916400.0,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5086
2,243,11555,2,23,5751,4,2.0,2013,0.0,0.0,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,1443
3,72,6175,1,99,4402,4,1.0,2017,61381586.0,0.0,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15469
4,42,1417,2,23,6302,4,2.0,2014,0.0,0.0,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,4203,4,2.0,2014,0.0,0.0,...,16.544842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7173
21291,113,15006,2,21,5703,4,2.0,2016,0.0,0.0,...,17.651115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12850
21292,700,2429,2,22,4218,4,2.0,2013,0.0,0.0,...,18.018778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4062
21293,248,1323,2,22,3201,4,2.0,2014,0.0,0.0,...,15.521108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4052
21294,55,2672,3,99,6412,8,1.0,2017,7100000.0,0.0,...,12.460719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245

## 8- tester dans chaque  colonne si la somme de la valeur 4 de ses lignes est superieure a   90% de nombre des données il supprime cette colonne

In [18]:
g=0
for i in data.columns:
    for j in range(len(data)):
        if(data[i][j] ==4):
            g=g+1
    if g>0.9*len(data[i]):
        data.drop(i,axis=1,inplace=True)
    print(f'{i}:{g}')
    g=0

BCT_CODBUR:0
CTR_MATFIS:2
CTR_CATEGO_X:8
FJU_CODFJU:0
ACT_CODACT:0
CTR_OBLDIR:18394
CTR_ODTIMB:0
EXE_EXERCI:0
TVA_CHAFF6:1
TVA_CHAF12:4
TVA_CHAF18:1
TVA_CHAF22:3
TVA_TOTDUE:0
TVA_MOIDEB:85
TVA_CRDINI:0
TVA_BASEQL:0
TVA_DEDEQL:0
TVA_BASEQI:0
TVA_DEDEQI:0
TVA_BASAUL:0
TVA_DEDAUL:0
TVA_BASAUI:0
TVA_DEDAUI:0
TVA_BASRSM:1
TVA_DEDRSM:0
TVA_DEDREG:2
TVA_RESTIT:1
TVA_MNTPAY:0
TVA_MOIFIN:56
TVA_CRDFIN:2
TVA_CAFEXP:1
TVA_CAFSUS:0
TVA_CAFEXO:0
TVA_MACHN:0
TVA_MCESQ:0
ADB_MNTORD:0
SND_MNTPRD_I:0
SND_MNTTVA_I:0
SND_MNTDRC_I:0
SND_MNTAVA_I:0
SND_MNTTAX_I:0
SND_MNTPAY_I:0
SND_MNTAIR_I:0
SND_MNTPRD_E:0
SND_MNTTVA_E:0
SND_MNTDRC_E:0
SND_MNTAVA_E:0
SND_MNTTAX_E:0
SND_MNTPAY_E:0
SND_MNTAIR_E:0
SND_MNTPRD_A:0
SND_MNTTVA_A:0
SND_MNTDRC_A:0
SND_MNTAVA_A:0
SND_MNTTAX_A:0
SND_MNTPAY_A:0
SND_MNTAIR_A:0
AX1_BRTIMP:0
AX2_HONORA:0
AX2_LOYERS:0
AX3_REVCAP:0
AX5_MNTMAR:0
RES_ANNIMP:0
target:0
FAC_MNTPRI_F:0
FAC_MFODEC_F:0
FAC_MNTDCO_F:0
FAC_MNTTVA_F:0
FAC_MNTPRI_C:0
FAC_MFODEC_C:0
FAC_MNTDCO_C:0
FAC_MNTTVA_C:0
id:0

In [19]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,ACT_CODACT,CTR_OBLDIR,CTR_ODTIMB,EXE_EXERCI,TVA_CHAFF6,TVA_CHAF12,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,1,99,3707,4,2.0,2014,0.0,126423147.0,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437
1,401,14383,2,22,6105,4,2.0,2013,0.0,21916400.0,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5086
2,243,11555,2,23,5751,4,2.0,2013,0.0,0.0,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,1443
3,72,6175,1,99,4402,4,1.0,2017,61381586.0,0.0,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15469
4,42,1417,2,23,6302,4,2.0,2014,0.0,0.0,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,4203,4,2.0,2014,0.0,0.0,...,16.544842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7173
21291,113,15006,2,21,5703,4,2.0,2016,0.0,0.0,...,17.651115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12850
21292,700,2429,2,22,4218,4,2.0,2013,0.0,0.0,...,18.018778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4062
21293,248,1323,2,22,3201,4,2.0,2014,0.0,0.0,...,15.521108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4052
21294,55,2672,3,99,6412,8,1.0,2017,7100000.0,0.0,...,12.460719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245

## 9-tester dans chaque  colonne si la somme de la valeur null  est superieure a   60% de nombre des données il supprime cette colonne

In [20]:
for i in data.columns:
    if data[i].isnull().sum()/len(data)*100>60:
        data.drop([i],1,inplace=True)

C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)
C:\Users\EliteBook\AppData\Local\Temp\ipykernel_11020\3716451597.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop([i],1,inplace=True)

In [21]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,ACT_CODACT,CTR_OBLDIR,CTR_ODTIMB,EXE_EXERCI,TVA_CHAFF6,TVA_CHAF12,...,TVA_MACHN,TVA_MCESQ,AX1_BRTIMP,AX2_HONORA,AX2_LOYERS,AX3_REVCAP,AX5_MNTMAR,RES_ANNIMP,target,id
0,44,6210,1,99,3707,4,2.0,2014,0.0,126423147.0,...,0.0,0.0,0.0,2950000.0,0.0,0.0,6.027693e+08,2014,16.639203,17437
1,401,14383,2,22,6105,4,2.0,2013,0.0,21916400.0,...,0.0,0.0,0.0,203353885.0,0.0,0.0,1.478520e+07,2013,17.827703,5086
2,243,11555,2,23,5751,4,2.0,2013,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.079280e+07,2013,15.473503,1443
3,72,6175,1,99,4402,4,1.0,2017,61381586.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,2017,0.000000,15469
4,42,1417,2,23,6302,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,2014,14.286244,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,4203,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.326544e+09,2014,16.544842,7173
21291,113,15006,2,21,5703,4,2.0,2016,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.505822e+08,2016,17.651115,12850
21292,700,2429,2,22,4218,4,2.0,2013,0.0,0.0,...,0.0,0.0,0.0,147828454.0,0.0,0.0,6.404927e+09,2013,18.018778,4062
21293,248,1323,2,22,3201,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.318494e+07,2014,15.521108,4052
21294,55,2672,3,99,6412,8,1.0,2017,7100000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11110.0,0.000000e+00,2017,12.460719,8245

In [22]:
data.shape

(21295, 43)

## 10-Remplacer les valeurs null par la moyenne de l'ensemble des données

In [23]:
for _ in list(data.columns):
    data[_].fillna(data[_].mean(),inplace=True)

In [24]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,ACT_CODACT,CTR_OBLDIR,CTR_ODTIMB,EXE_EXERCI,TVA_CHAFF6,TVA_CHAF12,...,TVA_MACHN,TVA_MCESQ,AX1_BRTIMP,AX2_HONORA,AX2_LOYERS,AX3_REVCAP,AX5_MNTMAR,RES_ANNIMP,target,id
0,44,6210,1,99,3707,4,2.0,2014,0.0,126423147.0,...,0.0,0.0,0.0,2950000.0,0.0,0.0,6.027693e+08,2014,16.639203,17437
1,401,14383,2,22,6105,4,2.0,2013,0.0,21916400.0,...,0.0,0.0,0.0,203353885.0,0.0,0.0,1.478520e+07,2013,17.827703,5086
2,243,11555,2,23,5751,4,2.0,2013,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.079280e+07,2013,15.473503,1443
3,72,6175,1,99,4402,4,1.0,2017,61381586.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,2017,0.000000,15469
4,42,1417,2,23,6302,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,2014,14.286244,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,4203,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.326544e+09,2014,16.544842,7173
21291,113,15006,2,21,5703,4,2.0,2016,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.505822e+08,2016,17.651115,12850
21292,700,2429,2,22,4218,4,2.0,2013,0.0,0.0,...,0.0,0.0,0.0,147828454.0,0.0,0.0,6.404927e+09,2013,18.018778,4062
21293,248,1323,2,22,3201,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.318494e+07,2014,15.521108,4052
21294,55,2672,3,99,6412,8,1.0,2017,7100000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11110.0,0.000000e+00,2017,12.460719,8245

## 11-Afficher chaque colonne avec son nombre de valeur null

In [25]:
for i,j in data.isnull().sum().items():
    print(i,",",j)

BCT_CODBUR , 0
CTR_MATFIS , 0
CTR_CATEGO_X , 0
FJU_CODFJU , 0
ACT_CODACT , 0
CTR_OBLDIR , 0
CTR_ODTIMB , 0
EXE_EXERCI , 0
TVA_CHAFF6 , 0
TVA_CHAF12 , 0
TVA_CHAF18 , 0
TVA_CHAF22 , 0
TVA_TOTDUE , 0
TVA_MOIDEB , 0
TVA_CRDINI , 0
TVA_BASEQL , 0
TVA_DEDEQL , 0
TVA_BASEQI , 0
TVA_DEDEQI , 0
TVA_BASAUL , 0
TVA_DEDAUL , 0
TVA_BASAUI , 0
TVA_DEDAUI , 0
TVA_BASRSM , 0
TVA_DEDRSM , 0
TVA_DEDREG , 0
TVA_RESTIT , 0
TVA_MNTPAY , 0
TVA_MOIFIN , 0
TVA_CRDFIN , 0
TVA_CAFEXP , 0
TVA_CAFSUS , 0
TVA_CAFEXO , 0
TVA_MACHN , 0
TVA_MCESQ , 0
AX1_BRTIMP , 0
AX2_HONORA , 0
AX2_LOYERS , 0
AX3_REVCAP , 0
AX5_MNTMAR , 0
RES_ANNIMP , 0
target , 0
id , 0

## 12-Remplacer la valeur de target par 0 si elle est inferieure à 3 et par 1 si elle est superieure à 3

In [26]:
data['target'].mask(data['target']<3,0,inplace=True)
data['target'].mask(data['target']>=3,1,inplace=True)

In [27]:
data

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,ACT_CODACT,CTR_OBLDIR,CTR_ODTIMB,EXE_EXERCI,TVA_CHAFF6,TVA_CHAF12,...,TVA_MACHN,TVA_MCESQ,AX1_BRTIMP,AX2_HONORA,AX2_LOYERS,AX3_REVCAP,AX5_MNTMAR,RES_ANNIMP,target,id
0,44,6210,1,99,3707,4,2.0,2014,0.0,126423147.0,...,0.0,0.0,0.0,2950000.0,0.0,0.0,6.027693e+08,2014,1.0,17437
1,401,14383,2,22,6105,4,2.0,2013,0.0,21916400.0,...,0.0,0.0,0.0,203353885.0,0.0,0.0,1.478520e+07,2013,1.0,5086
2,243,11555,2,23,5751,4,2.0,2013,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.079280e+07,2013,1.0,1443
3,72,6175,1,99,4402,4,1.0,2017,61381586.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,2017,0.0,15469
4,42,1417,2,23,6302,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,2014,1.0,14368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21290,47,6766,2,22,4203,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.326544e+09,2014,1.0,7173
21291,113,15006,2,21,5703,4,2.0,2016,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.505822e+08,2016,1.0,12850
21292,700,2429,2,22,4218,4,2.0,2013,0.0,0.0,...,0.0,0.0,0.0,147828454.0,0.0,0.0,6.404927e+09,2013,1.0,4062
21293,248,1323,2,22,3201,4,2.0,2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.318494e+07,2014,1.0,4052
21294,55,2672,3,99,6412,8,1.0,2017,7100000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11110.0,0.000000e+00,2017,1.0,8245

## 13-Training

In [28]:
X=data.drop('target',axis=1)
y=data.target

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [30]:
Mada=RandomForestClassifier()

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [32]:
Mada.fit(X_train,y_train)

RandomForestClassifier()

In [33]:
p4=Mada.predict(X_test)

In [34]:
print('RandomForestClassifier :',Mada.score(X_test,y_test))

RandomForestClassifier : 0.8195335733291595